$black: #201d1d;
$mustard-yellow: #f3ca20;

.login-container,
.signup-container {
  display: flex;
  height: 100%;

  .information-container,
  .login-form-container,
  .signup-form-container {
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .information-container {
    background: linear-gradient(215deg, white, $black 75%);
    color: $mustard-yellow;
  }

  .login-form-container,
  .signup-form-container {
    background: linear-gradient(135deg, white, $black 75%);
    flex-direction: column;

    h1 {
      color: $mustard-yellow;
    }
  }

  .login-form,
  .signup-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;

    input,
    button {
      width: 75%;
      padding: 3px;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
    }

    input {
      margin-bottom: 2px;
    }

    button {
      color: $black;
      background-color: $mustard-yellow;
      //box-shadow: inset 0 0 0 2em var(--hover);
      transition: color 0.5s, background-color 0.5s;
      -webkit-transition: color 0.5s, background-color 0.5s;
      -moz-transition: color 0.5s, background-color 0.5s;
      -ms-transition: color 0.5s, background-color 0.5s;
      -o-transition: color 0.5s, background-color 0.5s;
    }

    button:hover {
      color: $mustard-yellow;
      background-color: $black;
    }
  }
}
