$error-red: #ff0000;

.board-form-container {
  padding: 50px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  background: linear-gradient(#f3ca20, #ef86ef);
  font-size: 1.05em;

  button {
    border-radius: 25px;
    border: none;
    background: #b7f5ba;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    font-size: 1.02em;
  }

  .board-new-error {
    color: $error-red;
    margin-right: 10px;
  }

  form {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;

    .item {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;
      width: 100%;

      h4 {
        flex: 0 1 100%;
        text-align: center;
      }

      label,
      input,
      select,
      textarea {
        margin-right: 5px;
      }

      textarea {
        resize: none;
      }

      .remove-item {
        align-self: center;
        text-align: center;
      }
    }

    .create-board,
    .add-item {
      width: 15%;
      margin-top: 10px;
    }
  }
}
