.board-container {
  height: 100%;
  background: linear-gradient(#f3ca20, #ef86ef);

  .board-header {
    display: flex;
    justify-content: center;
    position: relative;

    button {
      position: absolute;
      top: 40%;
      width: 10%;
      font-size: 1.2em;
      background: rgb(245, 58, 58);
      outline: none;
      border-radius: 25px;
      -webkit-border-radius: 25px;
      -moz-border-radius: 25px;
      -ms-border-radius: 25px;
      -o-border-radius: 25px;
      color: aqua;
    }

    .save-order {
      left: 20%;
    }

    .add-item {
      right: 20%;
    }
  }

  .items-new_container {
    display: flex;
    flex-direction: column;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    box-shadow: 0 0 20px black;
    height: 40%;
    width: 30%;
  }
}

.modal-active {
  background: rgba(0, 0, 0, 0.25);
}
