$error-red: #ff0000;

.item-card_modal {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  box-shadow: 0 0 20px black;
  height: 40%;
  width: 30%;

  h1 {
    text-align: center;
    margin: 2px 0px;
  }
}
